{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["root-import", {
      "rootPathSuffix": "./src"
    }],
    ["ramda"],
    ["lodash", {
      "id": ["ramda-adjunct"]
    }]
  ]
}
